.cooking{
    padding: 123px 0;
    background: #f4f2eb;
    &__wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1170px;
        margin: 0 auto;
        padding: 10px;
        .step{
            width: 17%;
            text-align: center;
            h3{
                colro: #2d2b2d;
                font-size: 18px;
                padding: 44px 0 13px;
            }
            p{
                color: #71706c;
            }
        }
    }
}